*.rbc
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/coverage/*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
brakeman.html

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity


# various artifacts
*.sassc
.sass-cache
/config/config.yml
/config/database.yml
/doc/*
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/assets
/public/cache
/public/stylesheets/compiled
/public/system
/cache
/public/test/*
spec/examples.txt

# MacOS artifacts
.DS_Store
*.dump
.gem*
.env

#Dev specific
latest.dump
heroku.dump
