  <!-- First Band (Slider) -->
  <!-- The Orbit slider is initialized by calling .orbit() on #slider -->

  <div class="row">
	<div class="twelve columns">
	  <div id="slider">
	    <%= image_tag ("img_slider_01.jpg") %>
	    <%= image_tag ("img_slider_02.jpg") %>
		<%= image_tag ("img_slider_03.jpg") %>
	  </div>

	  <hr />
	</div>
  </div>


  <!-- Three-up Content Blocks -->

  <div class="row">

	<div class="twelve columns">
	  <h2>Buddhist Nun. Powerhouse Personality.</h2>
	  <p><b>Australian ex-Catholic, ex-political activist and feminist, Robina Courtin has been a Buddhist nun since 1978.</b>
Teaching Buddhism around the world, she also visits and communicates with inmates in prisons in the United States and elsewhere. Shattering the stereotype of a Buddhist nun, her intense and direct style leaves an indelible impression on everyone she meets.</p>

	  <p><b>In the heart of America’s Bible Belt, Robina visits Kentucky State Penitentiary,</b> guiding death row inmates and others on the path to enlightenment. Determined to harness their minds and deal with their violent crimes, they inspire Robina to work even harder at her own rigorous spiritual practice.</p>
	</div>
  </div>