- provide(:title, 'Amiel Courtin-Wilson')

.row
  .small-10.small-centered.columns
    .orbitpad
      %ul.amiel-orbit{"data-orbit" => ""}
        %li= image_tag ("amiel_01.jpg")
        %li= image_tag ("amiel_02.jpg")
        %li= image_tag ("amiel_03.jpg")
        %li= image_tag ("amiel_05.jpg")

.row
  .small-5.small-offset-1.columns
    :markdown
      **Amiel Courtin-Wilson made his first film at age 9 and at 17 won the Longford Nova Award at the 1996 St Kilda Film Festival. At age 19 Amiel wrote, directed and produced *Chasing Buddha*, his debut feature documentary, which premiered at Sundance in 2000. Chasing Buddha was nominated for an Australian Film Institute (AFI) Award for Best Direction, and won a slew of additional awards, including Best Documentary at the 2000 Sydney Film Festival’s Dendy Awards and the IF (Inside Film) Awards.**

      Having directed over 20 short films and five feature length films, Amiel has also directed and produced music clips, exhibited his video art internationally and presented guest lectures at the likes of UCLA in California.
      His dramatic feature film debut *HAIL* had its international premiere at the Venice Film Festival (Orrizonti, 2011) and has screened at festivals around the world including Rotterdam, Istanbul, Karlovy Vary, and Munich. *HAIL* also won many awards internationally as well as the Age Critics Award for best Australian feature at the Melbourne International Film Festival.

      His 2013 feature film *Ruin* won a Special Jury Prize at Venice, and to date has been honored with Best Image at Moscow’s 2morrow Film Festival, and Best Editing at the 56th Asia-Pacific Film Festival.

      Amiel’s 2009 short documentary *Cicada* had its international premiere at Cannes Film Festival in 2009, and went on to win the SBS Television Award at the 2009 St Kilda Film Festival and was nominated for

  .small-5.columns.end
    :markdown
      Best Documentary at the 2009 Australian Director's Guild (ADG) Awards and the 2009 ATOM Awards.

      ![A filmaker of visionary amition](https://d2z8vlwj0wx00w.cloudfront.net/assets/amiel_quote.png)

      **Amiel has directed work for Opera Australia, Chunky Move contemporary dance company and musical artists such as the Avalanches and Mix Master Mike. His films have screened at the National Gallery of Victoria, the Gallery of New South Wales and he is a regular contributor to national and international film and art magazines and journals.** His first solo exhibition of drawings was held at Utopian Slumps Gallery in Melbourne in 2009.

      **After forming the production entity Flood Projects in 2008, Amiel’s feature documentary *Bastardy* won the Best Documentary Jury Prize at the 2009 Film Critics Circle of Australia Awards (FCCA) and Best Documentary at the ATOM Awards. *Bastardy* was released nationally, received huge critical acclaim across Australia and was nominated for three AFI Awards.**

      Amiel was also recently commissioned to create a short film for the 70th Anniversary of the Venice Film Festival as part of a project called “Venice Future Reloaded” alongside directors such as Bernardo Bertollucci, Catherine Breillat, Monte Hellman, Atom Egoyan and Paul Schrader.
