.row
  .three.columns.offset-by-one
    = image_tag('dvd_cover.png', size: "211x300", alt: "DVD cover for Chasing Buddha Film")
    %br
  .six.columns.end
    .price Price: USD32.00
    %strong 
      including shipping and handling worldwide
      %hr
    %p
      You will be charged the equivalent in your own currency on the day of transaction. 
      %strong.red Approximately: UK: £21 • AUSTRALIA: $35  • EUROPE: &#8364;25
    %p
      Amiel is kindly offering 50% of all profits from the sale of Chasing Buddha DVD to Robina's Bodhichitta Trust in California, USA, which supports the work of her teachers, Lama Yeshe and Lama Zopa Rinpoche.
      %strong.red The Bodhichitta Trust is handling all sales of Chasing Buddha.
    %p
      For orders for distributors, retailers, FPMT centers, etc., please email Kate Macdonald at
      = mail_to 'kate@bodhichittatrust.com', "kate@bodhichittatrust.com", :encode => "javascript", :subject => "Wholesale order request from Chasingbuddhafilm.com site", :title => "Send an email from your computer."
    %hr
    %h6
      %strong.red Buy the Chasing Buddha DVD using our secure order form.
    = link_to 'Buy DVD Now', 'https://chasingbuddhafilm.wufoo.com/forms/chasing-buddha-dvd-order-form/', class: "large alert button radius"

