- provide(:title, 'Admin Dashboard')

.row
  %h4.subheader Create
  %ul.small-block-grid-1.medium-block-grid-4
    %li= link_to 'New Post', new_post_path, class: "success button"
    %li= link_to 'New Quote', new_quote_path, class: "success button"

.row
  %h4.subheader Manage
  %ul.small-block-grid-1.medium-block-grid-4
    %li= link_to 'All Posts', posts_path, class: "secondary button"
    %li= link_to 'All Quotes', quotes_path, class: "secondary button"
