.row
  .ten.columns.centered
    .flex-video.widescreen.vimeo
      %iframe{:allowFullScreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/23855754", :webkitAllowFullScreen => "", :width => "500"}