.row
  .eight.columns.offset-by-one
    /= image_tag('http://placehold.it/650x375&text=vimeo video here')
    .flex-video.widescreen.vimeo
      %iframe{:allowFullScreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/23855754", :webkitAllowFullScreen => "", :width => "500"}
  .three.columns
    = image_tag("img_awards.png", :size => "200x400", :alt => "Awards for Chasing Buddha Film")