- if signed_in?
  .row
    .ten.columns.offset-by-one.end
      = image_tag("img_awards.png", size: "800x100", alt: "Awards for Chasing Buddha Film")
      #quotebox
        = render @quote
      .flex-video.widescreen.vimeo
        %iframe{allowfullscreen: "", frameborder: "0", height: "480", src: "http://www.youtube.com/embed/KZjLi78JcxE", width: "853"}


  .row
    .ten.columns.offset-by-one.end
      = image_tag("img_credits.png" , size: "900x90", alt: "Credits for Chasing Buddha Film")

- else
  .row
    .eight.columns.centered
      = image_tag("img_splash.png")
  %hr
