- provide(:title, 'Robina Courtin')

.row
  .three.columns.offset-by-three
    = image_tag("tmb_robina.jpg", :alt => 'Image of Ven. Robina Courtin')
  .four.columns.end
    %h3 Ven. Robina Courtin
    %h4 Tibetan Buddhist Nun
    %h5= mail_to 'info@chasingbuddhafilm.com', "info@chasingbuddhafilm.com", :encode => "javascript", :subject => "Contact from Chasingbuddhafilm.com site", :title => "Send an email from your computer."

.row
  .ten.columns.centered
    %hr
    %p
      Australian-born Tibetan Buddhist nun 
      %b
        Robina Courtin 
      travels the world teaching Buddhist psychology and philosophy and helping those in need. Well known for her work for 14 years with people in prisons in Australia and the US, including inmates on death row, Robina’s life and work is the subject of Amiel Courtin-Wilson’s award-winning film Chasing Buddha (2001) and ABC’s Key to Freedom (2008).

    %p   
      Ordained since the late 1970s, Robina has worked full time since then for Lama Thubten Yeshe and Lama Zopa Rinpoche's Foundation for the Preservation of the Mahayana Tradition, a worldwide network of Buddhist centers and activities. Over the years she has served as editorial director of Wisdom Publications, editor of Mandala Magazine, executive director of Liberation Prison Project, and as a touring teacher of Buddhism. 

    %p
      Robina was born in Melbourne and brought up as a Catholic. She studied classical singing until her early twenties. In 1967 she traveled to London where she lived for four years and became actively involved in the radical left, working mainly with a London-based support group for black and Chicano prisoners. In the early seventies she became a feminist and returned to Melbourne to work with other radical feminists. In her quest for a spiritual path Robina began studying martial arts in 1974, and moved to New York where she studied karate. She continued karate in Melbourne until 1976, when she attended a Tibetan Buddhist course in Queensland given by Lama Yeshe and Lama Zopa Rinpoche. She traveled to Kathmandu the following year and ordained as a Buddhist nun at Kopan Monastery.