- provide(:title, 'Press')

/ The Orbit slider is initialized by calling .orbit() on #slider
.row
  .ten.columns.centered
    #slider
      = image_tag ("about_04.jpg")
      = image_tag ("about_03.jpg")      
      = image_tag ("about_02.jpg")
    %hr

- unless @posts.nil?
  .row
    .twelve.columns
      = render @posts