.reveal-modal {
background: $silver;
  h5, h6 { color: $tungsten; }
}

label {
  color: $silver;
}

h4, h5, h6 { margin-bottom: 8px; margin-top: 10px; }

hr {
  border: solid $tungsten;
  border-width: 1px 0 0;
}

dl.sub-nav {
  position: relative; top: $navBarHeight / 3;
  dt, dd { font-size: 16px; font-weight: bold; margin-bottom: 5px; }
}

#quotebox { 
  padding: 10px 0px; 
  font-size: 16px; 
  line-height: 1.5;
}
cite, .red { color: $brickred; }

.price { color: $brickred; font-size: 20px; font-weight: bold; margin-bottom: 5px; }

/* Graceful loading state for Orbit http://foundation.zurb.com/old-docs/f3/orbit.php  */

#slider { background-image: url("loading.gif") center center #000000 no-repeat; height: 300px;  }
#slider img { display: none; }

#slider.orbit { background: none;  padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid $tungsten;}
#slider.orbit img { display: block; }