.reveal-modal {
background: $silver;
  h5, h6 { color: $tungsten; }
}

label {
  color: $silver;
}

h4, h5, h6 { margin-bottom: 8px; margin-top: 10px; }

hr {
  border: solid $tungsten;
  border-width: 1px 0 0;
}

.sub-nav {
  position: relative; top: $topbar-height / 3;
  dd { font-size: 16px; font-weight: normal; margin-bottom: 5px; margin-left: 8px; }
}

.panel.callout {
    border-color: #9d2020;
    background: #c82828;
    color: #fff;
}

#quotebox { 
  padding: 10px 0px; 
  font-size: 16px; 
  line-height: 1.5;
}
cite, .red { color: $brickred; }

.price { color: $brickred; font-size: 20px; font-weight: bold; margin-bottom: 5px; }

textarea { height: auto; }

.orbitpad { margin-bottom: 30px; }
