/ Footer
%footer.row
  .twelve.columns
    %hr
    .row
      .six.columns
        %p &copy; Beta version of Chasing Buddha Film
      .six.columns
        %ul.link-list.right
          %li
            = link_to 'about', about_path
          %li
            = link_to 'contact', contact_path
          %li
            = link_to 'news', news_path
          %li
            = link_to 'synopsis', synopsis_path
