/ Header and Nav
.row
  .three.columns.offset-by-one
    #logo
      = link_to image_tag('lgo_chasingb.png', :size => '220x100'), root_path, :alt => "Chasing Buddha Film Title", :title => "home"
  .five.columns.end
    #navbox
      = render 'navbar'
/ End Header and Nav
