/ Header and Nav
.row
  .small-3.small-offset-1.columns
    #logo
      = link_to image_tag('lgo_chasingb.png', :size => '220x100'), root_path, :alt => "Chasing Buddha Film Title", :title => "home"
  .small-8.columns
    = render 'navbar'
